*.dll
*.pdb
*.cache
*.csproj.CopyComplete
*.csproj.FileListAbsolute.txt
TestResults/
.vs/
*.suo
/ServerlessFuncUnitTesting/bin/Debug/net6.0/testhost.exe
/ServerlessFuncUnitTesting/bin/Debug/net6.0
/ServerlessFuncUnitTesting/obj/Debug/net6.0
